<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Models and databases</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Admin Interface</h2>
    <table>
        <thead>
            <tr>
                <th>7. Django Models</th>
                <th> 8. Database Migrations</th>
                <th> 9. Admin Interface</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> ○-Understand Django's ORM (Object-Relational Mapper). 
 ○-Define models to represent database tables.
 ○-Perform CRUDoperations (Create, Read, Update, Delete) using
 models.</td>
                <td>  ○-Learn about Django migrations and how they manage changes to the
 database schema.
 ○-Apply migrations to create, update, and revert changes to the
 database.</td>
                <td>○-Explore Django's admin interface for data management.
○-Register models with the admin site.
 ○-Customize the admin interface as needed</td>
            </tr>
        </tbody>
    </table>
           <br> <br> <li><a href='/'>Bosh sahifa</a></li>

</body>
</html>