<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Advanced Django Concepts
 Forms and User Authentication</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>  Advanced Views and Class-Based Views</h2>
    <table>
        <thead>
            <tr>
                <th>  13.Class-Based Views (CBVs)</th>
                <th>  14.Generic Class-Based Views (GCBVs)</th>
                <th> 15.Customizing Views</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>  ○ Understand the role of forms in web applications.
 ○ Create forms using Django's form library.
 ○ Handle form submissions and perform validation.</td>
                <td>    ○ Explore Django's generic class-based views.
 ○ Usegeneric views to handle common patterns such as list/detail views
 and form handling</td>
                <td>○ Learn how to customize and extend class-based views.
 ○ Override methods and attributes of generic views to fit your
 application's requirements.</td>
            </tr>
        </tbody>
    </table>
          <br><br>  <li><a href='/'>Bosh sahifa</a></li>

</body>
</html>l>