{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Football Players</title>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ball</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Yusufjon Muhammadov</td>
      <td>35</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Nurbek Doniyorov</td>
      <td>25</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Boburmirzo Muhammadov</td>
      <td>31</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Fazliddin Asomov</td>
      <td>35</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Muhammadjon Ibrohimov</td>
      <td>38</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Umarjon Umarov</td>
      <td>33</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Asadbek O'ralov</td>
      <td>30</td>
    </tr>
  </tbody>
</table>

<img src="static/style/pexels-sohail-nachiti-807598.jpg " alt="" width="400">

</body>
</html>